.cartitems{
    margin: 50px 70px;
}
.cartitems hr{
    background: #e2e2e2;
    border: 0;
    height: 3px;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 10px 0;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}
.cartitems-format{
    font-weight: 500;
    font-size: 13px;
}
.carticon-product-icon{
    width: 60px;
}
.carticon-product-icon-remove{
   width: 48px;
   height: 24px;
    background: orangered;
    font-weight: 600;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 2px;
}
.cartitems-quantity{
    width: 48px;
height: 24px;
background:white;
border: 2px solid #ebebeb;
}
.cartitems-down{
display: flex;
margin: 50px;
}
.cartitems-total{
    flex: 1;
display: flex;
flex-direction: column;
margin-right: 150px;
gap: 40px;
}
.cartitems-total button{
    width: 220px;
    height: 35px;
    color: white;
    background-color: orangered;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    }
.cartitems-total button:hover{
    background: orange;
    transform: scale(1.05);
    transition: 0.6s;
    color: black;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

@media (max-width: 1024px){
 
}
@media (max-width: 750px){
    .cartitems{
        margin: 30px 45px;
    }
    .cartitems hr{
        height: 1.5px;
    }
    .cartitems-format-main{
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding: 6px 0;
        font-size: 10px;
    }
    .cartitems-format{
        font-size: 9px;
    }
    .carticon-product-icon{
        width: 35px;
    }
    .carticon-product-icon-remove{
       width: 24px;
       height: 12px;
        font-size: 8px;
    }
    .cartitems-quantity{
        width: 24px;
    height: 12px;
    }
    .cartitems-down{
    margin: 30px;
    }
    .cartitems-total{
    margin-right: 80px;
    gap: 20px;
    }
    .cartitems-total button{
        width: 110px;
        height: 18px;
        font-size: 10px;
        }
    .cartitems-total-item{
        padding: 8px 0;
    }
}