.newCollection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
}
.newCollection h1{
    color: #171717;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
.newCollection hr{
    width: 500px;
    height: 1.5px;
    background: #252525;
}
 .new-products-collection{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin-top: 50px;
     gap: 30px;
 }
 @media (max-width: 1050px){
  
 }
@media (max-width: 750px){
    .newCollection{
        gap: 9px;
        margin-bottom: 100px;
    }
    .newCollection h1{
        font-size: 17px;
    }
    .newCollection hr{
        width: 70%;
        height: 1px;
    }
    .new-products-collection{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        overflow-x: scroll;
              margin-top: 30px;
              gap: 40px;
              margin-right: 0;
          }
          .new-products-collection::-webkit-scrollbar{
              display: none;
          }
}